.App {
    text-align: center;
}

::placeholder {
    color: white;
    opacity: .5;
}

html {
    background: rgb(20, 17, 28);
}

body {
    background: linear-gradient(171deg, rgb(20, 17, 28) 0%, rgb(20, 17, 28) 100%);
    background-attachment: fixed;
}


a, p {
    color: white !important;

}

.bumper {
    height: 90px;
}

/* ///////////////////// */
/* ////// NAVBAR /////// */
/* ///////////////////// */

.navbar {
    background-color: rgb(20, 17, 28) !important;
    padding-bottom: 1em !important;
    padding-top: 1em !important;
    height: 90px;
}

.brand-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    order: 1;
}

.brand-logo {
    margin-left: 1vw;
    margin-right: .1vw;
    margin-top: .5em;
    size: 2em;
    color: rgb(214, 212, 212);
}

.navbar-brand {
    margin-top: .3em;
}

.brand-name {
    color: rgb(214, 212, 212);
}

.nav-search {
    order: 2;
}

.form {
    border-radius: 30px !important;
    border:1px solid rgba(255, 255, 255, .5);
    background-clip:padding-box;
}

.input {
    background: transparent;
    color: #ffffff;
    border: none;
    transition: none !important;
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
}

.input:focus {
    outline: none;
}

.login-signup {
    display: flex;
    flex: 1;
    order: 3;
    justify-content:flex-end;
}

.nav-link {
    font-size: 1.1em !important;
    color: rgb(214, 212, 212) !important;
}

.sign-in {
    padding-top: 2vh;
    padding-right: 1vw;
}

.nav-drop {
    color: rgba(255, 255, 255, 0.656) !important;
}

.dropdown-menu {
    border-radius: 20px !important;
}

.dropdown-menu :focus {
    background-color: transparent !important;
    
}

.dropdown-item {
    color: black !important;
    border-radius: 20px !important;
    text-align: right !important;
    
}

/* ////////////////////// */
/* //////// HOME //////// */
/* ////////////////////// */

.home-boiler {
    color: rgb(214, 212, 212);
    padding-left: 1em;
    padding-right: 1em;
}

#asterisk {
    color: rgba(214, 212, 212, 0.753);
    margin-bottom: 2em;
}

/* ////////////////////// */
/* /////// LOGIN //////// */
/* ////////////////////// */

.loginBox {
    background: transparent;
    margin-top: 15vh;
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
   color: rgb(214, 212, 212);
   text-align: left;
}

.login-form button{
    margin-top: 1em;
 }

#login-asterisk {
    color: rgb(214, 212, 212);
    font-size: .75em;
    align-self: center;
    margin-bottom: 3em;
}

/* .btn-outline-light {
    color: black !important;
} */



/* /////////////////////// */
/* /////// SIGNUP //////// */
/* /////////////////////// */

.signupBox {
    background: transparent;
    margin-top: 15vh;
    margin-bottom: 4vh;
    padding-bottom: 150px;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signupBox h3 {
    color: rgb(214, 212, 212);
    padding-bottom: 1em;
}

#signup-asterisk {
    color: rgb(214, 212, 212);
    font-size: .75em;
    align-self: center;
    margin-bottom: 0em;
}

.signup-top {
    width: 20em;
    padding-bottom: 5em;
    padding-right: 4em;
    text-align: right
}

.signup-bottom {
    max-width: 500px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: rgb(214, 212, 212);
    flex-wrap: wrap;
}



/* ///////////////////// */
/* // SEARCH RESULTS /// */
/* ///////////////////// */

.resultBox {
    background: transparent;
    min-height: 80vh;
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(88, 83, 102, 0.523) !important;
    border-radius: 30px !important;
    color: rgb(208, 208, 208);
    width: 90%;
    align-self: center !important;
}

.card-title {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1vh;
    color: rgba(255, 255, 255, 0.656) !important;
}

.play-button {
    background: transparent;
}

.wavebox {
    /* background-color: rgba(16, 16, 16, 0.492); */
    border: .1px rgba(0, 0, 0, 0) solid;
    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 2vw;
}

.card-bottom-row {
    display: flex !important;
    justify-content: space-between;
}

#download-box {
    margin-left: .6em;
    margin-top: .4em;
}

#download-btn {
    transform: scale(1.4);
    color: rgba(255, 255, 255, 0.656);
    background-color: none !important;
}

#download-link :hover {
    background-color: none !important;
}

.download-btn-bg {
    height: 75%;

}

.download-btn-bg :hover  {
    background-color: rgba(181, 186, 185, 0) !important;
    border-radius: 50px;
    transition: 1s;
}


#login-to-collect-box {
    margin-top: .4em;
    margin-right: 1em;
}

#login-to-collect {
    transform: scale(1.5);
    color: rgba(255, 255, 255, 0.656);
}

.add-to-collection {
    color: rgba(255, 255, 255, 0.656) !important;
    transform: scale(1.5);
}

.add-to-collection-bg :hover  {
    /* background-color: rgba(181, 186, 185, 0.279) !important; */
    border-radius: 50px;
    transition: 1s;
}

#add-to-collection-box {
    margin-top: .5em;
    margin-right: 1em;
}

/* ///////////////////// */
/* // NEW COLLECTION /// */
/* ///////////////////// */

.new-collection-box {
    background: transparent;
    margin-bottom: 4vh;
    margin-top: 7.5em;
    padding-bottom: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(214, 212, 212);
}

.new-collection-box h1 {
    margin-bottom: 1em;
}

.new-collection-form {
   color: rgb(214, 212, 212);
   text-align: left;
   width: 30vw;
}

.new-collection-form button{
    margin-top: 1em;
 }

 .new-collection-form .error{
    margin-top: 1em;
 }

#collection-asterisk {
    color: rgb(214, 212, 212);
    font-size: .75em;
    align-self: center;
    margin-bottom: 3em;
}


@media all and (max-width: 770px) {

    .navbar {
        height:150px;
    }

    .bumper{
        height: 150px;
    }

    .signupBox {
        margin-top: 50px;
        width: 70vw;
    }

    #signup-asterisk {
        height: 10vh;
    }

    .signup-top {
        padding-left: 0em;
        padding-right: 0em;
        text-align: center;
    }

    .nav-search {
        order: 3;
        padding-top: 3vh;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .login-signup {
        order: 2;
    }

  }




