.App {
    text-align: center;
}

::placeholder {
    color: white;
    opacity: .5;
}

body {
    background: linear-gradient(171deg, rgb(0, 0, 0) 0%, rgb(170, 162, 255) 100%);
    background-attachment: fixed;
}


a, p {
    color: white !important;

}

.sign-in {
    padding-top: 2vh;
    padding-right: 1vw;
    
}

.resultBox {
    background: transparent;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 30px;
}

.card {
    background-color: rgba(16, 16, 16, 0.492) !important;
    border-radius: 30px !important;
    color: rgb(208, 208, 208);
}

.card-top-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.card-title {
    text-align: left;
    padding-left: 20px;
    margin-top: 1vh;
    color: rgba(255, 255, 255, 0.656) !important;
}

.add-to-collection {
    color: rgba(255, 255, 255, 0.656) !important;
    padding-top: 1.5vh !important;
}


.wavebox {
    /* background-color: rgba(16, 16, 16, 0.492); */
    border: .1px rgba(0, 0, 0, 0) solid;
    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 2vw;
}

.resultBox {
    display: flex;
    justify-content: center;
}

.play-button {
    background: transparent;
}

.form {
    border-radius: 30px !important;
    border:1px solid rgba(255, 255, 255, .5);
    background-clip:padding-box;
}

.input {
    background: transparent;
    color: #ffffff;
    border: none;
    transition: none !important;
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
}

.input:focus {
    outline: none;
}

.player-container {
    width: 80vw;
    
}

.audio-box {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.rm-audio-player-provider {
    border-collapse: separate !important;
    border-radius: 30px !important;
    overflow: hidden;
}


